<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Irfan Khan</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>  
    </nav>
    <article>
        Born Sahabzade <strong>Irfan Ali Khan</strong>, in Jaipur, Rajasthan (NW India) January 7, 1967 to a Pashto-speaking Muslim family. Khan's mother, Begum Khan, was from the Tonk Hakim family and his father, Jagirdar Khan, from the Khajuriya village near the Tonk district, ran a tire business.

The Khan family name comes from Turkish and Mongol languages and mean "king" or great leader. Descendants of Genghis Khan (13th century) in central Asia adopted Islam and became the Moghuls, who conquered India for several centuries until British rule.

Irfan was a skilled cricket player. In his early 20's he was selected for the CK Nayudu Tournament (a stepping stone to First Class cricket). He did not turn up for the tournament owing to lack of funds and as a result he focused on acting.

In 1984 he earned a scholarship to the National School of Acting in New Delhi.<br><br>

He was awarded the Padma Shri, India's fourth highest civilian honor for his contribution to the field of arts.<br><br>

His portrayal of Paan Singh Tomar in the acclaimed biographical sports drama Paan Singh Tomar (2011) won him the National Film Award for Best Actor and a Filmfare Critics Award for Best Actor. His performance in the BAFTA Award nominated romance The Lunchbox (2013) earned him universal acclaim by the critics and audiences.<br><br>

Globally, Khan was in The Warrior (2001), The Namesake (2006), The Darjeeling Limited (2007), the Academy Award-winning film Slumdog Millionaire (2008), New York, I Love You (2009), <em>The Amazing Spider-Man (2012)</em>, <em>Life of Pi (2012)</em>, <em>Jurassic World (2015)</em> and <em>Inferno (2016)</em>. As of 2017, his films have grossed $3.643 billion at the worldwide box office.
<br>In 2018, Khan was diagnosed with a neuroendocrine tumor.<br> <br>



Unlike most Indian film stars, Irrfan has been outspoken on religion. On Arnab Goswami's talk show, he took on Muslim fundamentalists, including India's Grand Imam. Irrfan Khan argued against "transactional religious interaction" and for "personal religious discovery"..."to discover yourself, to find God". Though he admits he is "not an authority" on the Koran and Islamic Holy scriptures he has bravely stood by his comments despite heavy criticism and even threats of violence. He's aware of the dangers that his frank comments pose to him and his family. His wife commented, "We are very proud of him.
    </article>
</body>
</html>