<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Irfan Khan</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>  
    </nav>
    <div id="gallery">
        <img src="images/galler_1.jpg" "gallery_image_irfan">
        <img src="images/gallery_2.jpg" "gallery_image_irfan">
        <img src="images/gallery_3.jpg" "gallery_image_irfan">
        <img src="images/gallery_4.jpg" "gallery_image_irfan">
        <img src="images/gallery_5.jpg" "gallery_image_irfan">
        <img src="images/gallery_6.jpg" "gallery_image_irfan">
        <img src="images/gallery_7.jpg" "gallery_image_irfan">
        <img src="images/gallery_8.jpg" "gallery_image_irfan">
        <img src="images/gallery_9.jpg" "gallery_image_irfan">
    </div>
</body>
</html>