<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Irfan Khan</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>  
    </nav>
    <div id="intro">
        <img src="images/irfan-khan.jpg" alt="profile_image">
        <div>
            <h1>Irfan Khan</h1>
            <p>Irrfan Khan (born Sahabzade Irfan Ali Khan; 7 January 1967 – 29 April 2020)[4] was an Indian actor who worked in Indian cinema as well as British and American films</p>
        </div>
        
        
    </div>
    
</body>
</html>