<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Irfan Khan</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div id="works">
            <img src="images/lifeofpie.jpg" alt="lifeofpie_image">
            <img src="images/lunchbox.jpg" alt="lunchbox_image">
            <img src="images/haider.jpg" alt="haider_image">
            <img src="images/lifeinmetro.jpg" alt="lifeinmetro_image">
            <img src="images/madari.jpg" alt="madari_image">
            <img src="images/namesake.jpg" alt="namesake_image">
            <img src="images/paansinghtomar.jpg" alt="paansinghtomar_image">
            <img src="images/talwar.jpg" alt="talwar_image">
            <img src="images/englishmedium.jpg" alt="englishmedium_image"> 
            <img src="images/maqbool.jpg" alt="maqbool_image">
        </div>  
    </nav>
    
</body>
</html>